* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    z-index: 2;
    font-size: 24px;
    padding-top: 24px;
    padding-left: 80px;
    width: 100%;
    min-width: 800px;
    height: 80px;
    background-color: rgba(244, 244, 244, 0.8);
    backdrop-filter: blur(6px);
}

main {
    margin-top: 80px;
    padding-inline: 80px;
}

.container {
    padding-top: 60px;
    position: relative;
}

.right {
    position: absolute;
    right: 80px;
}

.sticky-container {
    position: sticky;
    top: 110px;
    right: 0;
    margin-left: 100px;
    width: calc(100% - 275px - 103px);
    height: 380px;
    background-color: #f4f4f4;
    float: right;
    padding: 20px;
    font-size: 24px;
    min-width: 300px;
}

.cards-wrapper {
    display: inline-block;
}

.card {
    height: 380px;
    /* min-height: 380px; */
    max-height: 600px;
    width: 275px;
    margin-bottom: 30px;
    background-color: #f4f4f4;
    font-size: 24px;
    padding: 15px 20px;
    /* overflow: auto; */
}

.card:last-of-type {
    margin-bottom: 0;
}

.card span {
    display: block;
}

.card span:first-child {
    text-align: right;
    font-size: 18px;
}

.card__title {
    font-size: 32px;
    margin-bottom: 33px;
    max-width: 225px;
}

.line {
    border: 1px solid #DCDCDC;
    margin-block: 73px;
}

.shock {
    padding-left: 21px;
    padding-bottom: 60px;
    font-size: 40px;
}

.shock__header {
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.shock__info {
    margin-block: 109px 15px;
    font-size: 18px;
}

.shock a {
    text-decoration: none;
    color: #fff;
    padding: 19px 48px;
    background-color: #3455FF;
    display: block;
    max-width: 250px;
    font-size: 32px;
}

.shock a, .card, .sticky-container {
    border-radius: 10px;
}

footer {
    padding: 80px;
    width: 100%;
    background-color: #f4f4f4;
}

.footer__data {
    padding-inline: 20px;
    font-size: 24px;
}

.footer__data span {
    display: block;
}

.footer__data span:nth-child(2) {
    margin-top: 35px;
}

.footer__data span:last-child {
    font-size: 16px;
    margin-top: 250px;
}